<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login">
    <div class="login">


         <ion-img src="/assets/icon/tindioIcon-sm.png" class="tindio-icon"> </ion-img>

            <ion-img src="/assets/icon/tindioLogo-sm.png" class="tindio-title"></ion-img>

          <ion-button expand="full" size="large" class="fb-button" routerLink="/home">Gallary</ion-button>
       
                <!-- <ion-button size="large" class="go-button">Google</ion-button>

              
                  <ion-button size="large" class="tw-button">Twitter</ion-button> -->
              
  </div>
</ion-content>
